<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_URL</key>
	<string>https://rdvcrzkjfglizcvexkig.supabase.co</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJkdmNyemtqZmdsaXpjdmV4a2lnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUwOTY5NTQsImV4cCI6MjA5MDY3Mjk1NH0.U5PL5z6XnM0JDek4GBuTVAwgdQEELU1Vra8jCq4Flro</string>
	<key>NEWSDATA_API_KEY</key>
	<string>pub_3097540636a646fd9d269569c0d75e0f</string>
	<key>GEMINI_API_KEY</key>
	<string>AIzaSyDgdv8RhRfqXPkFeh1mTVbMrIvJr84ICZE</string>
	<key>OPENROUTER_API_KEY</key>
	<string>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</string>
</dict>
</plist>
